@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Users.API.Models

@model User

@{
    ViewData["Title"] = "Edit User";
}

<h1 class="bg-info text-white">Edit User</h1>
<a class="btn btn-block btn-success" asp-action="Index">Show all Users</a>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Id">ID</label>
        <input class="form-control-range" type="text" asp-for="Id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input class="form-control-range" type="text" asp-for="FirstName" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input class="form-control-range" type="text" asp-for="LastName" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input class="form-control-range" type="text" asp-for="Email" />
    </div>
    <button class="btn btn-secondary" type="submit">Submit</button>
</form>